<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="testing-files" preCondition="IsHTML" stopProcessing="false">
                    <match filterByTags="Img, Link, Script" pattern="(.*)(images|styles|scripts)(.*)" />
                    <action type="Rewrite" value="{R:1}mps/{R:2}{R:3}" />
                </rule>
				<rule name="UpdateJS" preCondition="IsJS" patternSyntax="ExactMatch" stopProcessing="true">
                    <match filterByTags="None" pattern="fetch('/upload/" />
                    <action type="Rewrite" value="fetch('/mps/upload/" />
                </rule>
                <preConditions>
                    <preCondition name="IsHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
					<preCondition name="IsJS">
					  <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/javascript" />
					</preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
